<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.sap.adt.tools.abapsource.ui.source.category"
            description="clean the current code selection or object (method, declaration section etc.) with the most recently used ABAP cleaner profile"
            id="com.sap.adt.abapcleaner.cleanup.automatic"
            name="Clean Up With Automated ABAP Cleaner">
      </command>
      <command
            categoryId="com.sap.adt.tools.abapsource.ui.source.category"
            description="open the ABAP cleaner UI to clean the current code selection or object, select a profile, check/block rules etc."
            id="com.sap.adt.abapcleaner.cleanup.interactive"
            name="Clean Up With Interactive ABAP Cleaner...">
      </command>
      <command
            categoryId="com.sap.adt.tools.abapsource.ui.source.category"
            description="preview the cleanup result on the ABAP cleaner UI in read-only mode, without locking or changing the code object"
            id="com.sap.adt.abapcleaner.cleanup.readonly"
            name="Show Read-Only Preview With ABAP Cleaner...">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.sap.adt.abapcleaner.gui.eclipse.DummyForcePluginActivationPropertyTester"
            id="com.sap.adt.abapcleaner.gui.dummyPropertyTester"
            namespace="com.sap.adt.abapcleaner.gui"
            properties="forcePluginActivation"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:com.sap.adt.tools.abapsource.ui.source?after=editGroup">
         <command
               commandId="com.sap.adt.abapcleaner.cleanup.automatic"
               icon="resources/CommandIcon.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <test
                        forcePluginActivation="true"
                        property="com.sap.adt.abapcleaner.gui.forcePluginActivation">
                  </test>
                  <test
                        args="com.sap.adt.abapcleaner.cleanup.automatic"
                        forcePluginActivation="true"
                        property="com.sap.adt.tools.abapsource.ui.editormenu.shouldShowContextMenu"
                        value="true">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.sap.adt.abapcleaner.cleanup.interactive"
               icon="resources/CommandIcon.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <test
                        forcePluginActivation="true"
                        property="com.sap.adt.abapcleaner.gui.forcePluginActivation">
                  </test>
                  <test
                        args="com.sap.adt.abapcleaner.cleanup.interactive"
                        forcePluginActivation="true"
                        property="com.sap.adt.tools.abapsource.ui.editormenu.shouldShowContextMenu"
                        value="true">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.sap.adt.abapcleaner.cleanup.readonly"
               icon="resources/CommandIcon.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <test
                        forcePluginActivation="true"
                        property="com.sap.adt.abapcleaner.gui.forcePluginActivation">
                  </test>
                  <test
                        args="com.sap.adt.abapcleaner.cleanup.readonly"
                        forcePluginActivation="true"
                        property="com.sap.adt.tools.abapsource.ui.editormenu.shouldShowContextMenu"
                        value="true">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sap.adt.abapcleaner.gui.eclipse.AbapCleanerHandlerAutomatic"
            commandId="com.sap.adt.abapcleaner.cleanup.automatic">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="com.sap.adt.tools.abapsource.ui.abapCode">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.sap.adt.abapcleaner.gui.eclipse.AbapCleanerHandlerInteractive"
            commandId="com.sap.adt.abapcleaner.cleanup.interactive">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="com.sap.adt.tools.abapsource.ui.abapCode">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.sap.adt.abapcleaner.gui.eclipse.AbapCleanerHandlerReadOnly"
            commandId="com.sap.adt.abapcleaner.cleanup.readonly">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="com.sap.adt.tools.abapsource.ui.abapCode">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.sap.adt.abapcleaner.cleanup.automatic"
            contextId="com.sap.adt.tools.abapsource.ui.abapCode"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+4">
      </key>
      <key
            commandId="com.sap.adt.abapcleaner.cleanup.interactive"
            contextId="com.sap.adt.tools.abapsource.ui.abapCode"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+4">
      </key>
      <key
            commandId="com.sap.adt.abapcleaner.cleanup.readonly"
            contextId="com.sap.adt.tools.abapsource.ui.abapCode"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+5">
      </key>
   </extension>
   <extension
         id="com.sap.adt.abapcleaner.standalone.app"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.sap.adt.abapcleaner.gui.eclipse.application.AbapCleanerApplication">
         </run>
      </application>
   </extension>

</plugin>
